.page-header{
	background-color:#48525e;
}
.page-header .page-header-top .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:hover{
	background-color:rgba(0, 0, 0, 0) !important;
}
.dropdown-toggle{
	background-color:rgba(0, 0, 0, 0) !important;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background-color:rgba(0, 0, 0, 0) !important;
}